.footerContent{
  display: flex;
  background-color: white;
  font-family: sans-serif;
}


footer li{
  list-style-type: none;
}

footer ul{
  padding-left: 0;
}

.typeBox,.boutonFooter{
  border: none;
  outline: none;
}

.typeBox{
  padding-left: 10px;
}

.boutonFooter{
  font-weight: bold;
  font-size: 100%;
  background-color: white;
}

footer button:hover{
  color: grey;
}


footer a{
  text-decoration: none;
  color: grey;
}


footer a:hover{
  color: black;
}


@media (max-width: 500px) {


  .partieInfos{
    padding : 10px;
    padding-left: 3%;
    width: 4.5cm;

  }

  footer h3{
    font-size: 100%;
  }

  footer h1{
    font-size: 150%;
  }

  footer li{
    font-size: 70%;
    padding-top: 5px;
  }

  .partieShop,.partieHelp,.partieAbout{
    padding-left: 15px;
    padding-top: 15px;
  }

  .partieMail{
    border:2px solid black;
    flex: 1;
    padding-left: 0px;
  }

  .boutonFooter{
    margin-left: 5px;
    background: none;
  }

  footer h4{
    font-size: 70%;
  }

  .typeBox{
    width: 3cm;
  }

}


@media(min-width: 501px) {

  .footerContent{
    margin-left: 20%;
    margin-right: 20%;
  }

  .partieInfos{
    width: 10cm;
    padding-right: 2cm;
  }


  footer h1{
    font-size: 170%;
  }

  footer li{
    padding: 5px;
  }


  .partieShop{
    flex: 3;
  }

  .partieHelp{
    flex: 3;
  }

  .partieAbout{
    flex: 3
  }


  .partieMail{
    border:2px solid black;
    flex: 1;
    padding: 5px;
  }

  footer .partieMail{
    width: 4.5cm;
  }

}
