* {
    font-family: system-ui;
}

body {
    background-color: rgb(255, 255, 255);
    margin:0%;
    color: #121212;
}


img {
    width: 100%;

}

img:hover{
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.1);
}


p:hover {
  color: red;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

@media(min-width: 701px){
  .Baniere{
    width: 1900px;
    height: 200px;
    flex-shrink: 0;
    background: var(--Primary, #0D0D0D);
  }


  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: white;
    padding-top: 60px;
    transition: left 0.5s ease;
  }



  .h1{
    color: #FFF;
    font-family: Public Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 133.333% */
    letter-spacing: -1.08px;
    margin-left: 100px;
  }

  .p{
    color: #FFF;
    font-family: Public Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    margin-left: 150px;
  }


  .container {
      display: flex;
      flex-direction: column;
      margin: 100px;
  }


    .section {
        display: flex;
        margin: 50px;
    }



  .box{
    display: flex;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .liste{
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  .article{
    width: 265px;
    height: 331px;
    text-align: left;
    border-width: medium;
    border-color: black;

  }

  .image{
    width: 265px;
    height: 265px;
    flex-shrink: 0;
  }

  .texte{
    width: 239px;
    height: 28px;
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

    .prix{
      flex-shrink: 0;
      color: #000;
      font-family: Public Sans;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.4px;
    }

    .colonne{
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .check{
      width: 190px;
      height: 20px;
    }

    .centre{
      text-align: center;
      margin-left: 500px;
      margin-top: 50px;
    }

    .bouton{
      display: flex;
      width: 298px;
      height: 50px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    .block_couleur{
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 9px;
    }

    .range_couleur{
      display: flex;
      align-items: flex-start;
      gap: 8px;
    }

    .couleur{
      width: 25px;
      height: 25px;
    }

    .label {
      font-family: sans-serif;
      font-size: 1rem;
      padding-right: 10px;
    }

    .select {
      font-size: 0.9rem;
      padding: 2px 5px;
    }
}



@media(max-width: 701px){


  .Baniere{
    width: 700px;
    height: 200px;
    flex-shrink: 0;
    background: var(--Primary, #0D0D0D);
  }


  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: white;
    padding-top: 60px;
    transition: left 0.5s ease;
  }





  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    position: relative;
    top: 15px; left: 10px;
  }


  .h1{
    color: #FFF;
    font-family: Public Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 133.333% */
    letter-spacing: -1.08px;
    margin-left: 100px;
  }

  .p{
    color: #FFF;
    font-family: Public Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    margin-left: 150px;
  }


  .container {
      flex-direction: row;
      margin: 100px;
  }


    .section {{
        flex-direction: row;
        margin: 100px;
    }



  .box{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .liste{

    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .article{
    width: 265px;
    height: 331px;
    text-align: left;
    border-width: medium;
    border-color: black;
  }

  .image{
    width: 265px;
    height: 265px;
    flex-shrink: 0;
  }

  .texte{
    width: 239px;
    height: 28px;
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

    .prix{
      flex-shrink: 0;
      color: #000;
      font-family: Public Sans;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.4px;
    }

    .colonne{
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 10px;
    }


    .centre{
      text-align: center;
      margin-left: 200px;
      margin-top: 50px;
    }

    .bouton{
      display: flex;
      width: 298px;
      height: 50px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    .block_couleur{
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 9px;
    }

    .range_couleur{
      display: flex;
      align-items: flex-start;
      gap: 8px;
    }

    .couleur{
      width: 25px;
      height: 25px;
    }

    .label {
      font-family: sans-serif;
      font-size: 1rem;
      padding-right: 10px;
    }

    .select {
      font-size: 0.9rem;
      padding: 2px 5px;
    }
}
