@media(min-width: 701px) { /* partie quand l'écran est mode pc*/
  .product{
    display: flex;
    margin-left : 3cm;
    margin-right : 3cm;
    font-family: sans-serif;
    padding-top: 2cm;
    
  }

  .prodImg{
    flex: 1;
    padding-right: 1cm;
  }

  .produitImg{
    width: 7cm;
    height: 6cm;
  }

  .prodTitre{
    flex:2;
    padding-left: 100px;
  }
  .prodDetails{
    flex: 2;
    padding-right: 3cm;
  }
 

  .Price{
    font-size: 150%;
    padding-bottom: 1cm;
    margin-top: 10px;
  }

  .titreProduit{
    font-size: 240%;
    margin: 0;
  }

  .desciption{
    margin-right: 50%;
    font-size: 110%;
  }

  .specs{
    color: grey;
    font-size: 90%;
  }


  .addCartBtn,.buyBtn{
    font-size: 110%;
    padding: 10px;
    padding-left: 1cm ;
    padding-right: 1cm ;
  }

  .addCartBtn{
    width: 100%;
    color: white;
    background-color: black;
    margin-right: 10px;
    
  }

  .buyBtn{
    color: white;
    background-color: #4169e1;
  }

  .nbrArticles,.bandeauTaille{
    width: 4cm;
    text-align: center;
    font-size: 130%;
    border: none;
    outline: 2px solid black;
  }

  .bandeauTaille{
    margin-left: 15px;
    margin-top: 1px;
    padding-bottom: 1px;
  }

}


@media(max-width: 700px) { /* partie quand l'écran est mode telephone*/
  .product {
    font-family: sans-serif;
    margin-left: 15px;
  }

  .prodImg {
    text-align: center;
  }

  .produitImg{
    width: 11cm;
  }

  .titreProduit {
    font-size: 250%;
  }


  .Price{
    font-size: 150%;
    padding-bottom: 0;
    margin-top: 10px;
    font-weight: bold;
  }

    .nbrArticles,.bandeauTaille{
      width: 4.5cm;
      text-align: center;
      font-size: 130%;
      border: none;
      outline: 2px solid black;
    }

    .bandeauTaille{
      margin-top: 1px;
      padding-bottom: 1px;
      margin-left: 0.5cm;
    }


    .addCartBtn,.buyBtn{
      font-size: 110%;
      padding: 10px;
      padding-left: 1cm ;
      padding-right: 1cm ;
    }

    .addCartBtn{
      color: white;
      background-color: black;
      margin-right: 10px;
    }

    .buyBtn{
      color: white;
      background-color: #4169e1;
    }

    .specs{
      color: grey;
      font-size: 90%;
    }
}
