* {
    font-family: system-ui;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #494949;
}
.a-logo:hover{
    border-bottom: none;
}
.navbar{
    border-bottom: 2px solid rgb(123, 121, 121);
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.logo{
    margin-left: 5px;
    width: 60px;
    height: 60px;
}
#ul-1{
    margin-left: 15px;
}
.image-panier{
    margin-right: 20px;
    width: 30px;
    height: 30px;
}
header li{
    list-style-type: none;
    color: #121212;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    float: left;
}
.recherche{
    margin: auto;
    margin-left: 0px;
    margin-bottom: 25px;
}
button{
    margin-left:none ;
    cursor:pointer;
}
.bouton_recherche{
    border: none;
    background-color: white;
    outline: none;
}
.image-loupe{
    width: 15px;
    height: 15px;
}
.input{
    border: none;
    border-bottom: 2px solid rgb(123, 121, 121);
}
.anim-panier:hover{
    border-bottom: 0.06cm solid #494949;
}
.container{
    color: #121212;
    text-align: center;
    font-size: larger;
}
.phrase-accroche{
    color: #717171;
}
div{
    text-align: center;
}
.boutton-acheter{
    border: none;
    background-color: white;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: #121212;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border: 1px solid #121212;
}
.image-panda{
    width: 960px;
    height: 540px;
}
.colab{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.colab img{
    width: 100px;
    height: 100px;
    margin-left: 60px;
    margin-right: 50px;
}

@media(max-width: 330px) {
    .navbar{
        margin-left: 2px;
        margin-right: 2px;
    }
    .container{
        font-size:small;
    }
    .boutton-acheter{
        font-size: 10px;
        font-weight: bold;
        color: #121212;
        cursor: pointer;
        width: 100px;
        height: 20px;
        border: 1px solid #121212;
    }
    .image-panda{
        width: 230px;
        height: 150px;
    }
    .colab{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colab img{
        width: 20px;
        height: 20px;
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (min-width: 330px) and (max-width: 396px) {
    .navbar{
        margin-left: 5px;
        margin-right: 5px;
    }
    .container{
        font-size:small;
    }
    .boutton-acheter{
        font-size: 15px;
        font-weight: bold;
        color: #121212;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid #121212;
    }
    .image-panda{
        width: 350px;
        height: 200px;
    }
    .colab{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colab img{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 397px) and (max-width: 412px) {
    .navbar{
        margin-left: 5px;
        margin-right: 5px;
    }
    .container{
        font-size:small;
    }
    .boutton-acheter{
        font-size: 15px;
        font-weight: bold;
        color: #121212;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid #121212;
    }
    .image-panda{
        width: 400px;
        height: 230px;
    }
    .colab{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colab img{
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 412px) and (max-width: 600px) {
    .navbar{
        margin-left: 5px;
        margin-right: 5px;
    }
    .container{
        font-size:small;
    }
    .boutton-acheter{
        font-size: 15px;
        font-weight: bold;
        color: #121212;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid #121212;
    }
    .image-panda{
        width: 400px;
        height: 230px;
    }
    .colab{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colab img{
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 600px) and (max-width: 820px) {
    .container{
        font-size:small;
    }
    .boutton-acheter{
        font-size: 15px;
        font-weight: bold;
        color: #121212;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid #121212;
    }
    .image-panda{
        width: 650px;
        height: 350px;
    }
    .colab{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colab img{
        width: 60px;
        height: 60px;
        margin-left: 18px;
        margin-right: 18px;
    }
}

@media (min-width: 820px) and (max-width: 1000px) {
    .container{
        font-size:medium;
    }
    .boutton-acheter{
        font-size: 15px;
        font-weight: bold;
        color: #121212;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid #121212;
    }
    .image-panda{
        width: 800px;
        height: 450px;
    }
    .colab{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colab img{
        width: 76px;
        height: 76px;
        margin-left: 22px;
        margin-right: 22px;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .container{
        font-size:medium;
    }
    .boutton-acheter{
        font-size: 15px;
        font-weight: bold;
        color: #121212;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid #121212;
    }
    .image-panda{
        width: 800px;
        height: 450px;
    }
    .colab{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colab img{
        width: 85px;
        height: 85px;
        margin-left: 22px;
        margin-right: 22px;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .container{
        font-size:medium;
    }
    .boutton-acheter{
        font-size: 15px;
        font-weight: bold;
        color: #121212;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid #121212;
    }
    .image-panda{
        width: 800px;
        height: 450px;
    }
    .colab{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colab img{
        width: 100px;
        height: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media (min-width: 1300px) and (max-width: 1500px) {
    .container{
        font-size:medium;
    }
    .boutton-acheter{
        font-size: 15px;
        font-weight: bold;
        color: #121212;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid #121212;
    }
    .image-panda{
        width: 1000px;
        height: 520px;
    }
    .colab{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .colab img{
        width: 120px;
        height: 120px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

